*{
    box-sizing: border-box;
}

#container{
    margin: 0 auto;
    width: 50%;
    min-height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    overflow: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
  background-color: #d16920;
  color: white;
  padding: 20px 5px;
  font-size: 2em;
  display: inline-block; 
  margin: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section{
    background-color: #ffe3c6;
    color: #637d45;
    max-width: 50%;
    margin: 5px;
}

p{
    padding: 10px;
}

#long-bottom{
    padding-bottom: 60px;
}

#random-number-holder{
    background-color: #3cb374;
    color: #642961;
    margin: 5px;
    float: left;
    width: 25%;
    padding-top: 38px;
    padding-bottom: 38px;
    text-align: center;
    font-size: 2em;
}

#win-loss-holder{
    background-color: #02feff;
    color: #0093b9;
    margin: 5px;
    float: left;
    text-align: center;
    min-height: 108px;
}

#crystal-holder{
    clear: both;
}

.crystal{
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
}

.total-score{
    background-color: #017d7e;
    color: white;
    margin: 5px;
    width: 25%;
    padding: 5px;
    clear:both;
    min-height: 20px;
    text-align: center;
}

#total-score-holder{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

#win-loss-reveal{
    display: none;
    text-align: center;
}

/*Media query for 768px screen and smaller */
@media screen and (max-width: 768px) {
    #container{
        margin: 0;
        width: 100%;
    }
}

/*Media query for 640px screen and smaller */
@media screen and (max-width: 640px) {
    section{
        max-width: 75%;
    }
}



